* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #BF045B;
  color: #F2F2F2;
  min-height: 100vh;
}

header {
  font-size: 2rem;
}
header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #D90479;
}

form button {
  color: #F2F2F2;
  background: #BF047E;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: white;
  color: #BF047E;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #D90479;
  color: #F2F2F2;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn, .complete-btn {
  background: #590232;
  color: #F2F2F2;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #BF047E;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

@media only screen and (max-width: 393px) {
  .todo-input {
    width: 80%;
  }

  .todo-list {
    width: 96%;
  }
}
